@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

html,
body {
    height: 100%;
}

body {
    display: grid;
    grid-template-columns: 130px 1fr;
    margin: 0;
    height: 100%;
}

.sidebar_button button {
    border: none;
    background-color: #EADDFF;
    width: 89px;
    height: 46px;
    border-radius: 20px;
}

.sidebar_button button a {
    display: flex;
    align-content: center;
    justify-content: center;
}

.sidebar_button button:hover {
    background-color: #6750A4;
}

.sidebar_button button:hover a svg {
    color: #FFFFFF;
}

.sidebar_button button:hover svg {
    color: #FFFFFF;
}

.sidebar_button p {
    text-align: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 27px;
    color: #49454F;
    margin-bottom: 2em;
}

.sidebar {
    grid-column: 1;
    grid-row: 1 / 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F4EFF4;
}

.sidebar_button button a svg {
    color: #49454F;
    width: 30px;
}

.sidebar_button button svg {
    color: #49454F;
    width: 30px;
}

#logout_button svg {
    margin-top: 0.2em;
}

.sidebar_logo {
    margin-top: 2em;
    margin-bottom: 2em;
}

.sidebar_logo img {
    width: 110px;
}

.main_box {
    grid-column: 2;
    background: #F4EFF4;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin: 2.5em 5em 2.5em 5em;
}

.box_header {
    border-bottom: 1px solid #CAC4D0;
    padding-bottom: 0.8em;
    margin-left: 2em;
    margin-right: 2em;
    padding-top: 1em;
    display: grid;
    grid-template-columns: 0.5fr 2fr 1.3fr 0.7fr 0.7fr 0.2fr;
    grid-column-gap: 28px;
}

.box_title {
    display: flex;
    align-items: center;
    justify-content: center;
}

#tickets {
    margin-top: 0em;
    margin-bottom: 0em;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    color: #49454F;
}

.search_box {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #E7E0EC;
    border-radius: 20px;
}

.search_box input {
    border: none;
    background-color: #E7E0EC;
    width: 80%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
}

.search_box input::placeholder {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
}

.search_box input:focus {
    outline: none;
}

.search_box img {
    width: 20px;
    margin-left: 0.5em;
    margin-right: 0.1em;
    color: #6750A4;
}

.sort {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #E7E0EC;
    border-radius: 20px;
}

.sort_remove {
    border: none;
    background-color: transparent;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

.sort p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    margin-top: 0em;
    margin-bottom: 0em;
    margin-right: 0.5em;
    margin-left: 0.5em;
}

.sort button svg {
    margin-top: 0.2em;
    width: 20px;
    color: #6750A4;
}

.sort button:hover svg {
    color: #1e1d21;
}

.sort svg {
    width: 20px;
    color: #6750A4;
}

.sort img {
    width: 20px;
    color: #6750A4;
}


.filtersbtn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #6750A4;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 100px;
}

.filtersbtn svg {
    width: 20px;
}


.filtersbtn:hover {
    background-color: #EADDFF;
}

.filtersbtn:hover svg {
    color: #49454F;
}

.ticket {
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr;
}

.ticket_status {
    width: 79px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5em 0.5em 0.5em 0.5em;
    background-color: #6750A4;
}

.ticket_status p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    margin-top: 0em;
    margin-bottom: 0em;
}


.ticket_title {
    display: flex;
    align-items: left;
    justify-content: left;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.ticket_desc {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
}

.ticket_title svg {
    width: 20px;
    color: #6750A4;
    padding-right: 0.5em;
}

.ticket_status_spacer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ticket_info {
    display: flex;
    align-items: end;
    justify-content: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
}

.pagenumbers {
    grid-column: 2;
}

.ticket_list {
    width: 100%
}

.pagenumbers {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagenumbers :first-child {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.pagenumbers :last-child {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.pagenumbers button {
    width: 41px;
    height: 46px;

    appearance: none;
    border: 0.5px solid #DEE2E6;
    outline: none;
    cursor: pointer;

    background-color: transparent;
    transition: 0.4s;

    color: #6750A4;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}

.pagenumbers button.active {
    background-color: #6750A4;
    color: #FFFFFF;
}

.filters_menu {
    position: absolute;
    top: 15%;
    left: 78%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 8px;

    width: 200px;
    height: 347px;

    background: #F4EFF4;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3), 0px 2px 6px 2px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}


.filters_menu p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

.divider {
    width: 100%;
    border-top: 1px solid #CAC4D0;
}

.filters_menu button {
    padding-top: 0.9em;
    padding-bottom: 0.9em;
    display: flex;
    align-items: left;
    width: 100%;
    border: none;
    background-color: transparent;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    cursor: pointer;
    border-radius: 4px;
}

.filters_menu button:hover {
    background-color: #6750A4;
    color: #FFFFFF;
}



